*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
   }

.container {
    position: relative; /* Define como referência para elementos filhos */
    width: 100%;        /* O vídeo ocupará a largura total da tela */
}

.container video {
    width: 100vw;
    height: 100vh;      /* Escala o vídeo proporcionalmente */
}

.loc {
    position: fixed;
    top: 63vh;   
}

.loc2 {
    width: 100vw;
    height: 100vh;
}

